body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}

header {
    margin: 0px;
}

.headerBar {
    background-color: #000000;
    height: 50px;
    padding: 2% 2%;
}

.containerBanner {
    background-color: #000000;
    background-image: url(./imagens/Prancheta\ 1background\ 2\ .png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 1px;
    max-width: 100%;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 10%;
    padding-left: 50%;
}

@media (max-width: 600px) {
    .containerBanner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        font-size: 16pt;
        padding-left: 25px;
        padding-right: 25px;
        width: 100%;
    }
}

#textoContainer1 {
    color: #ffffff;
    font-size: 26px;
    width: 600px;
}

#botaoContainer1 {
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 14pt;
    border-color: transparent;
    border-style: solid;
    box-shadow: 0px 0px 2px #000000;
    padding: 15px;
    font-weight: 600;
}

#botaoContainer1:hover {
    background-color: #b1c8d5;
}

#sectionServices {
}

.divTitulos {
    text-align: center;
    font-size: 36pt;
    font-weight: 100;
}

.flex-section-services {
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
}

@media (max-width: 780px) {
    .flex-section-services {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .divServices {
        margin: 5%;
    }
}

.divServices {
    text-align: justify;
    border: 0px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
    padding: 15px;
    max-width: 200px;
    width: 200px;
}

#sectionSomos {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: #e5e5e5;
    padding-bottom: 50px;
    padding-top: 5px;
}

.divQuemSomos {
    margin: 5% 5%;
    text-align: justify;
    border: 0px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
    display: flex;
    align-items: center;
    font-size: 16pt;
    justify-content: space-around;
    background-color: #ffffff;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#somos1 {
    padding: 5% 5%;
}

#somosImg1 {
    padding-left: 5%;
}

#somos2 {
    padding: 5% 5%;
}

#somosImg2 {
    padding-right: 5%;
}

#somos3 {
    font-style: italic;
}

#sectionPortifolio {
    display: flex;
    background-color: #f75609;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    padding-top: 50px;
}

.divPortifolio {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#buttonPortifolio {
    color: #f75609;
    border-radius: 10px;
    font-size: 14pt;
    border-color: transparent;
    border-style: solid;
    box-shadow: 0px 0px 2px #000000;
    padding: 10px;
    width: 150px;
}

#buttonPortifolio:hover {
    color: #ffffff;
    background-color: #f75609;
}

#sectionFormNewsletter {
    display: flex;
    background-color: #f75609;
    padding-top: 5px;
    justify-content: center;
    padding-bottom: 50px;
}

footer {
    background-color: #b1c8d5;
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10%;
    padding-right: 50%;
    padding-bottom: 20px;
}

.footerContato {
    padding-top: 10px;
}

#footerContato {
}

#footerDireitos {
    text-align: center;
    padding: 5px;
    background-color: #000000;
    color: #ffffff;
}
